.providerItem {
    border: 1px solid white;
    background-color: rgba(74, 176, 220, 0.072);
    border-radius: 20px;
    padding: 0.7rem 0.5rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 1rem;
    width: 100%;
    position: relative;
}

.providerItemHeader {
    display: flex;
    position: relative;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
}

.providerHeader {
    font-size: 1.1rem;
}

.houseEntriesWrapper {
    // background-color: red;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    width: 100%;
}

.houseEntry {
    width: 100%;
    background-color: rgba(148, 148, 148, 0.5);
    border-radius: 10px;
    padding: 0.5rem;
    display: flex;
    flex-direction: column;
    position: relative;
    gap: 0.3rem;
    min-height: 3rem;
}

.entryTitle {
    font-size: medium;
    cursor: pointer;
    color: white;
    &:hover {
        color: rgb(89, 209, 86);
    }
}

.imageWrapper {
    background-color: white;
    border-radius: 5px;
    padding: 0.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.blocked {
    top: 0;
    left: 0;
    background-color: rgba(250, 0, 0, 0.2);
    height: 100%;
    width: 100%;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(50, 6, 6);
    font-weight: 600;
}

.specsWrapper {
    display: flex;
    font-size: 11px;
    justify-content: space-between;
    gap: 0.5rem;
    align-items: center;
    & > a {
        border-radius: 4px;
        padding: 0.3rem;
        background-color: rgba(32, 52, 63, 0.4);
        color: rgb(192, 235, 255);
        font-weight: 600;
        &:hover {
            background-color: rgba(20, 75, 104, 0.4);
            color: rgb(0, 221, 255);
        }
    }
}
.specs {
    display: flex;
    font-size: 12px;
    gap: 0.5rem;
    align-items: center;
}

.isNew {
    border: 1px solid red;
    background-color: rgb(10, 45, 59);
    .entryTitle {
        color: rgb(89, 209, 86);
        &:hover {
           color: rgb(89, 255, 48); 
        }
    }
}

.newDot {
    width: 15px;
    height: 15px;
    margin: 10px;
    border-radius: 50%;
    background-color: red;
    position: absolute;
    right: 0;
    top: 0;
}
