.houseEntriesWrapper {
    // background-color: red;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 100%;
}

.houseEntry {
    width: 100%;
    background-color: rgba(220, 220, 220, 0.5);
    border-radius: 10px;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    position: relative;
    gap: 1rem;
}

.entryTitle {
    font-size: medium;
    cursor: pointer;
    color: white;
    &:hover{
        color: rgb(250, 200, 150);
    }
}

.blocked {
    top: 0;
    left: 0;
    background-color: rgba(250, 0, 0, 0.2);
    height: 100%;
    width: 100%;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(50, 6, 6);
    font-weight: 600;

}

.specs {
    display: flex;
    gap: 2rem;
}

.redBoarder {
    border: 1px solid red;
}

.newDot {
    width: 15px;
    height: 15px;
    margin: 10px;
    border-radius: 50%;
    background-color: red;
    position: absolute;
    right: 0;
    top: 0;
}